The task here was to extract the table showing the number of people using desktop or laptop or tablet in Uasin Gishu county from the KNBS 2019 census data which is in pdf format and export that to a csv file.

In [2]:
#import the libraries to use
# tabula should be installed first using pip install tabula-py. It is used to read PDF's

import pandas as pd
import tabula

In [3]:
%%time
#read the data which is located in the default directory
# Ensure pages is specified to 'all' if you want to extract tables from all the pages, 
# or the exact page number you want to extract data from

df = tabula.read_pdf('census.pdf', pages='all')

Wall time: 2min 32s

In [4]:
#Extracting all the data results in a list of tables
df[1]

,COUNTY,COUNTY NAME,SUB-COUNTY,SUB-COUNTY.1,COUNTY.1,COUNTY NAME.1,SUB-COUNTY.2,SUB-COUNTY.3
0,CODE,NaN,CODE,NAME,CODE,NaN,CODE,NAME
1,1,MOMBASA,101,CHANGAMWE,12,MERU,1201,BUURI EAST
2,1,MOMBASA,102,JOMVU,12,MERU,1202,BUURI WEST
3,1,MOMBASA,103,KISAUNI,12,MERU,1203,IGEMBE CENTRAL
4,1,MOMBASA,104,LIKONI,12,MERU,1204,IGEMBE NORTH
...,...,...,...,...,...,...,...,...
57,10,MARSABIT,1006,NORTH HORR,17,MAKUENI,1709,NZAUI
58,10,MARSABIT,1007,SOLOLO,18,NYANDARUA,1801,KINANGOP
59,11,ISIOLO,1101,GARBATULLA,18,NYANDARUA,1802,NYANDARUA SOUTH
60,11,ISIOLO,1102,ISIOLO,18,NYANDARUA,1803,MIRANGINE
61,11,ISIOLO,1103,MERTI,18,NYANDARUA,1804,KIPIPIRI

In [5]:
#Export all the tables to different csv files

j=0
while j < len(df):
    df[j].to_csv('output'+str(j)+'.csv', index=False) #sep=";")
    j += 1

In [10]:
#Calling the specific dataframe that has all the data we are looking for

df[427]

,County /,Population 3 Years and above,Unnamed: 0,Unnamed: 1,Use of Internet,Unnamed: 2,Unnamed: 3,Unnamed: 4,Use of Desktop Computer/Laptop/Tablet,Unnamed: 5
0,Sub-County,Total* Male Female,Total*,per cent,Male per cent,Female,per cent,Total*,per cent Male per cent Female,per cent
1,WEST POKOT,"553,584 272,728 280,844","44,864",8.1,"28,103 10.3","16,761",6.0,"16,460","3.0 10,064 3.7 6,396",2.3
2,KIPKOMO,"91,581 45,307 46,268","7,394",8.1,"4,709 10.4","2,685",5.8,"2,760","3.0 1,660 3.7 1,100",2.4
3,POKOT CENTRAL,"106,071 53,164 52,905","4,848",4.6,"3,260 6.1","1,588",3.0,"1,543","1.5 1,005 1.9 538",1.0
4,POKOT NORTH,"118,673 56,999 61,672","5,448",4.6,"3,570 6.3","1,878",3.0,"2,100","1.8 1,352 2.4 748",1.2
5,POKOT SOUTH,"72,458 35,681 36,775","6,461",8.9,"4,310 12.1","2,151",5.8,"1,890","2.6 1,222 3.4 668",1.8
6,WEST POKOT,"164,801 81,577 83,224","20,713",12.6,"12,254 15.0","8,459",10.2,"8,167","5.0 4,825 5.9 3,342",4.0
7,SAMBURU,"279,891 141,072 138,814","27,282",9.7,"16,768 11.9","10,514",7.6,"11,516","4.1 7,286 5.2 4,230",3.0
8,SAMBURU CENTRAL,"149,358 75,738 73,618","17,539",11.7,"10,635 14.0","6,904",9.4,"7,519","5.0 4,607 6.1 2,912",4.0
9,SAMBURU EAST,"69,944 34,048 35,896","6,268",9.0,"3,870 11.4","2,398",6.7,"2,580","3.7 1,664 4.9 916",2.6
10,SAMBURU NORTH,"60,589 31,286 29,300","3,475",5.7,"2,263 7.2","1,212",4.1,"1,417","2.3 1,015 3.2 402",1.4
11,TRANS NZOIA,"911,209 448,487 462,701","154,412",16.9,"88,098 19.6","66,311",14.3,"64,667","7.1 37,083 8.3 27,583",6.0
12,TRANS NZOIA WEST,"184,140 91,254 92,883","34,776",18.9,"20,148 22.1","14,627",15.7,"14,441","7.8 8,483 9.3 5,958",6.4
13,TRANS NZOIA EAST,"212,422 104,721 107,693","33,388",15.7,"19,164 18.3","14,224",13.2,"12,132","5.7 6,939 6.6 5,193",4.8
14,KWANZA,"188,466 92,532 95,931","29,556",15.7,"16,790 18.1","12,765",13.3,"11,620","6.2 6,763 7.3 4,857",5.1
15,ENDEBESS,"102,457 51,455 50,999","9,816",9.6,"6,474 12.6","3,342",6.6,"4,019","3.9 2,523 4.9 1,496",2.9
16,KIMININI,"223,724 108,525 115,195","46,876",21.0,"25,522 23.5","21,353",18.5,"22,455","10.0 12,375 11.4 10,079",8.7
17,UASIN GISHU,"1,070,335 531,769 538,543","299,885",28.0,"163,826 30.8","136,049",25.3,"144,382","13.5 78,776 14.8 65,601",12.2
18,AINABKOI,"127,533 62,850 64,683","38,066",29.8,"20,320 32.3","17,746",27.4,"20,316","15.9 10,694 17.0 9,622",14.9
19,KAPSERET,"182,852 91,412 91,436","67,976",37.2,"36,693 40.1","31,281",34.2,"34,483","18.9 18,570 20.3 15,912",17.4
20,KESSES,"137,814 68,811 69,000","30,972",22.5,"17,493 25.4","13,477",19.5,"14,226","10.3 7,875 11.4 6,350",9.2
21,MOIBEN,"165,378 81,639 83,737","48,743",29.5,"26,212 32.1","22,531",26.9,"24,837","15.0 13,392 16.4 11,445",13.7
22,SOY,"211,662 105,136 106,521","43,783",20.7,"24,937 23.7","18,843",17.7,"19,192","9.1 10,847 10.3 8,343",7.8
23,TURBO,"245,096 121,921 123,166","70,345",28.7,"38,171 31.3","32,171",26.1,"31,328","12.8 17,398 14.3 13,929",11.3
24,ELGEYO/MARAKWET,"418,765 209,151 209,602","59,627",14.2,"35,299 16.9","24,326",11.6,"22,935","5.5 13,147 6.3 9,786",4.7
25,KEIYO NORTH,"91,430 45,566 45,863","17,270",18.9,"9,822 21.6","7,448",16.2,"7,684","8.4 4,235 9.3 3,449",7.5
26,KEIYO SOUTH,"112,236 56,593 55,639","17,441",15.5,"10,315 18.2","7,124",12.8,"6,676","5.9 3,781 6.7 2,893",5.2
27,MARAKWET EAST,"88,986 43,796 45,188","7,943",8.9,"4,915 11.2","3,028",6.7,"2,866","3.2 1,777 4.1 1,089",2.4
28,MARAKWET WEST,"126,113 63,196 62,912","16,973",13.5,"10,247 16.2","6,726",10.7,"5,709","4.5 3,354 5.3 2,355",3.7
29,NANDI,"822,163 408,980 413,163","140,534",17.1,"81,657 20.0","58,872",14.2,"54,869","6.7 30,800 7.5 24,066",5.8
30,CHESUMEI,"152,235 75,011 77,221","33,312",21.9,"18,383 24.5","14,928",19.3,"13,103","8.6 7,168 9.6 5,934",7.7
31,NANDI CENTRAL,"136,533 67,514 69,013","25,736",18.8,"14,722 21.8","11,011",16.0,"10,150","7.4 5,662 8.4 4,486",6.5
32,NANDI EAST,"110,834 55,676 55,155","21,288",19.2,"12,891 23.2","8,397",15.2,"8,612","7.8 4,907 8.8 3,705",6.7
33,NANDI NORTH,"154,455 76,585 77,867","23,780",15.4,"13,794 18.0","9,986",12.8,"8,956","5.8 5,102 6.7 3,854",4.9
34,NANDI SOUTH,"160,898 79,744 81,151","22,869",14.2,"13,140 16.5","9,728",12.0,"9,161","5.7 5,045 6.3 4,116",5.1
35,TINDERET,"107,208 54,450 52,756","13,549",12.6,"8,727 16.0","4,822",9.1,"4,887","4.6 2,916 5.4 1,971",3.7
36,BARINGO,"609,555 306,702 302,842","93,138",15.3,"54,448 17.8","38,687",12.8,"38,025","6.2 21,854 7.1 16,170",5.3
37,BARINGO CENTRAL,"89,180 44,084 45,096","20,343",22.8,"11,373 25.8","8,970",19.9,"9,584","10.7 5,308 12.0 4,276",9.5
38,BARINGO NORTH,"96,670 48,209 48,459","13,187",13.6,"7,960 16.5","5,226",10.8,"5,589","5.8 3,297 6.8 2,292",4.7
39,EAST POKOT,"73,135 36,951 36,182","3,020",4.1,"1,861 5.0","1,159",3.2,"1,259",1.7 785 2.1 474,1.3
40,KOIBATEK,"119,478 59,953 59,523","25,544",21.4,"14,761 24.6","10,783",18.1,"10,108","8.5 5,662 9.4 4,446",7.5
41,MARIGAT,"80,968 40,463 40,502","11,772",14.5,"7,183 17.8","4,588",11.3,"4,181","5.2 2,579 6.4 1,601",4.0
42,MOGOTIO,"83,716 42,194 41,520","15,244",18.2,"8,804 20.9","6,439",15.5,"5,944","7.1 3,318 7.9 2,626",6.3
43,TIATY EAST,"66,408 34,848 31,560","4,028",6.1,"2,506 7.2","1,522",4.8,"1,360",2.0 905 2.6 455,1.4

In [52]:
#Slice the rows representing Uasin Gishu. The second row in the new df represents the totals for the county and 
# the rest of the rows are totals for the sub-counties
#the first row in the new df doesn't represent anything in specific and hence will be removed.
#However, it will help split the data in it

my_df = df[427].iloc[[0,17,18,19,20,21,22,23], [0,1,2,3,4,5,6,7,8,9]].reset_index()
my_df

,index,County /,Population 3 Years and above,Unnamed: 0,Unnamed: 1,Use of Internet,Unnamed: 2,Unnamed: 3,Unnamed: 4,Use of Desktop Computer/Laptop/Tablet,Unnamed: 5
0,0,Sub-County,Total* Male Female,Total*,per cent,Male per cent,Female,per cent,Total*,per cent Male per cent Female,per cent
1,17,UASIN GISHU,"1,070,335 531,769 538,543","299,885",28.0,"163,826 30.8","136,049",25.3,"144,382","13.5 78,776 14.8 65,601",12.2
2,18,AINABKOI,"127,533 62,850 64,683","38,066",29.8,"20,320 32.3","17,746",27.4,"20,316","15.9 10,694 17.0 9,622",14.9
3,19,KAPSERET,"182,852 91,412 91,436","67,976",37.2,"36,693 40.1","31,281",34.2,"34,483","18.9 18,570 20.3 15,912",17.4
4,20,KESSES,"137,814 68,811 69,000","30,972",22.5,"17,493 25.4","13,477",19.5,"14,226","10.3 7,875 11.4 6,350",9.2
5,21,MOIBEN,"165,378 81,639 83,737","48,743",29.5,"26,212 32.1","22,531",26.9,"24,837","15.0 13,392 16.4 11,445",13.7
6,22,SOY,"211,662 105,136 106,521","43,783",20.7,"24,937 23.7","18,843",17.7,"19,192","9.1 10,847 10.3 8,343",7.8
7,23,TURBO,"245,096 121,921 123,166","70,345",28.7,"38,171 31.3","32,171",26.1,"31,328","12.8 17,398 14.3 13,929",11.3

In [53]:
#Check the columns that are present

my_df.columns

Index(['index', 'County /', 'Population 3 Years and above', 'Unnamed: 0',
       'Unnamed: 1', 'Use of Internet', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Use of Desktop Computer/Laptop/Tablet', 'Unnamed: 5'],
      dtype='object')

In [54]:
#rename the colums to be understandable

my_df = my_df.rename(columns={"County /": "county/subcounty",
                              "Population 3 Years and above": "pop",
                              "Unnamed: 0":"internet pop",
                              "Unnamed: 1":"internet pop percent",
                              "Unnamed: 2": "female internet pop",
                              "Unnamed: 3": "female internet pop percent",
                              "Unnamed: 4": "pc total pop",
                              "Unnamed: 5": "pc female percent pop",
                             })

In [55]:
#check if they were renamed correctly

my_df

,index,county/subcounty,pop,internet pop,internet pop percent,Use of Internet,female internet pop,female internet pop percent,pc total pop,Use of Desktop Computer/Laptop/Tablet,pc female percent pop
0,0,Sub-County,Total* Male Female,Total*,per cent,Male per cent,Female,per cent,Total*,per cent Male per cent Female,per cent
1,17,UASIN GISHU,"1,070,335 531,769 538,543","299,885",28.0,"163,826 30.8","136,049",25.3,"144,382","13.5 78,776 14.8 65,601",12.2
2,18,AINABKOI,"127,533 62,850 64,683","38,066",29.8,"20,320 32.3","17,746",27.4,"20,316","15.9 10,694 17.0 9,622",14.9
3,19,KAPSERET,"182,852 91,412 91,436","67,976",37.2,"36,693 40.1","31,281",34.2,"34,483","18.9 18,570 20.3 15,912",17.4
4,20,KESSES,"137,814 68,811 69,000","30,972",22.5,"17,493 25.4","13,477",19.5,"14,226","10.3 7,875 11.4 6,350",9.2
5,21,MOIBEN,"165,378 81,639 83,737","48,743",29.5,"26,212 32.1","22,531",26.9,"24,837","15.0 13,392 16.4 11,445",13.7
6,22,SOY,"211,662 105,136 106,521","43,783",20.7,"24,937 23.7","18,843",17.7,"19,192","9.1 10,847 10.3 8,343",7.8
7,23,TURBO,"245,096 121,921 123,166","70,345",28.7,"38,171 31.3","32,171",26.1,"31,328","12.8 17,398 14.3 13,929",11.3

In [61]:
#since the first row will be used in spliting, 
#we rename it in such a way that we can use the space in between to separe the data

my_df.iloc[:1, -2:-1] = 'ttl_percent Male male_percent Female'
my_df.iloc[:1, 2:3] = 'Total Male Female'
my_df.iloc[:1,5:6] = 'Male percent'

In [62]:
#we then split the following columns: a) pop, b) Use of Desktop Computer/Laptop/Tablet, c)Use of Internet
#we define functions that will split the columns

import re
def space_separator(row,row_num):
    """
    row = is the rows in the dataframe
    row_num = is the index of the row
    """
    #clearing  lists
    items = []
    sorted_items = []
    
    #splitting the  row
    items = re.split(' ',row)

    #removing extra spaces and storing in sorted items list
    sorted_items = [item for item in items if item != '']
    
    #setting the list items into columns in the data frame
    my_df.loc[row_num,'total_pc_percent'] = sorted_items[0]
    my_df.loc[row_num,'male_pc_pop'] = sorted_items[1]
    my_df.loc[row_num,'male_pc_percent'] = sorted_items[2]
    my_df.loc[row_num,'female_pc_pop'] = sorted_items[3]
    
    #printing out the sorted row
    print(sorted_items)
    
def space_separator2(row,row_num):
    """
    row = is the rows in the dataframe
    row_num = is the index of the row
    """
    #clearing  lists
    items = []
    sorted_items = []
    
    #splitting the  row
    items = re.split(' ',row)

    #removing extra spaces and storing in sorted items list
    sorted_items = [item for item in items if item != '']
    
    #setting the list items into columns in the data frame
    my_df.loc[row_num,'total_pop'] = sorted_items[0]
    my_df.loc[row_num,'male_Pop'] = sorted_items[1]
    my_df.loc[row_num,'female_Pop'] = sorted_items[2]
    #df_new.loc[row_num,'Female'] = sorted_items[3]
    
    #printing out the sorted row
    print(sorted_items)
    
def space_separator3(row,row_num):
    """
    row = is the rows in the dataframe
    row_num = is the index of the row
    """
    #clearing  lists
    items = []
    sorted_items = []
    
    #splitting the  row
    items = re.split(' ',row)

    #removing extra spaces and storing in sorted items list
    sorted_items = [item for item in items if item != '']
    
    #setting the list items into columns in the data frame
    my_df.loc[row_num,'male internet pop'] = sorted_items[0]
    my_df.loc[row_num,'male internet pop percent'] = sorted_items[1]
    #my_df.loc[row_num,'female_Pop'] = sorted_items[2]
    #df_new.loc[row_num,'Female'] = sorted_items[3]
    
    #printing out the sorted row
    print(sorted_items)

In [63]:
#iterating through the rows in the dataframe to split the columns

for row_num in range(len(my_df['Use of Desktop Computer/Laptop/Tablet'])):
    space_separator(my_df['Use of Desktop Computer/Laptop/Tablet'][row_num], row_num)
    
for row_num in range(len(my_df['pop'])):
    space_separator2(my_df['pop'][row_num], row_num)
    
for row_num in range(len(my_df['Use of Internet'])):
    space_separator3(my_df['Use of Internet'][row_num], row_num)

['ttl_percent', 'Male', 'male_percent', 'Female']
['13.5', '78,776', '14.8', '65,601']
['15.9', '10,694', '17.0', '9,622']
['18.9', '18,570', '20.3', '15,912']
['10.3', '7,875', '11.4', '6,350']
['15.0', '13,392', '16.4', '11,445']
['9.1', '10,847', '10.3', '8,343']
['12.8', '17,398', '14.3', '13,929']
['Total', 'Male', 'Female']
['1,070,335', '531,769', '538,543']
['127,533', '62,850', '64,683']
['182,852', '91,412', '91,436']
['137,814', '68,811', '69,000']
['165,378', '81,639', '83,737']
['211,662', '105,136', '106,521']
['245,096', '121,921', '123,166']
['Male', 'percent']
['163,826', '30.8']
['20,320', '32.3']
['36,693', '40.1']
['17,493', '25.4']
['26,212', '32.1']
['24,937', '23.7']
['38,171', '31.3']

In [64]:
#After splitting we get new set of columns hence no need to keep those we used to split
#Also we no loner need the first row and we drop it

df_final = my_df[1:].drop(['index','pop','Use of Desktop Computer/Laptop/Tablet','Use of Internet'], axis = 1)

In [65]:
#Checking how the final data looks like

df_final

,county/subcounty,internet pop,internet pop percent,female internet pop,female internet pop percent,pc total pop,pc female percent pop,total_pc_percent,male_pc_pop,male_pc_percent,female_pc_pop,total_pop,male_Pop,female_Pop,male internet pop,male internet pop percent
1,UASIN GISHU,"299,885",28.0,"136,049",25.3,"144,382",12.2,13.5,"78,776",14.8,"65,601","1,070,335","531,769","538,543","163,826",30.8
2,AINABKOI,"38,066",29.8,"17,746",27.4,"20,316",14.9,15.9,"10,694",17.0,"9,622","127,533","62,850","64,683","20,320",32.3
3,KAPSERET,"67,976",37.2,"31,281",34.2,"34,483",17.4,18.9,"18,570",20.3,"15,912","182,852","91,412","91,436","36,693",40.1
4,KESSES,"30,972",22.5,"13,477",19.5,"14,226",9.2,10.3,"7,875",11.4,"6,350","137,814","68,811","69,000","17,493",25.4
5,MOIBEN,"48,743",29.5,"22,531",26.9,"24,837",13.7,15.0,"13,392",16.4,"11,445","165,378","81,639","83,737","26,212",32.1
6,SOY,"43,783",20.7,"18,843",17.7,"19,192",7.8,9.1,"10,847",10.3,"8,343","211,662","105,136","106,521","24,937",23.7
7,TURBO,"70,345",28.7,"32,171",26.1,"31,328",11.3,12.8,"17,398",14.3,"13,929","245,096","121,921","123,166","38,171",31.3

In [66]:
#Export the data to csv

df_final.to_csv('Uasin Gishu internet and computer use population.csv')